
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.Form {
  margin: 0;
}
.Form__group {
  lost-column: 1;
}

.Form__label {
  font-size: 18px;
  vertical-align: middle;

}

textarea {
  padding: 6px;
  font-size: 22px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  background-color: $background;
  border: 1px solid $gray;
}

input {
  width: 100%;
  padding: 6px;
  font-size: 22px;
  height: 40px;
  box-sizing: border-box;
  background-color: $background;
  border: 1px solid $gray;
}
.Form__input {

  &:focus {
    border: 1px solid $highlight;
    background-color: lighten($highlight, 40%);
  }

}
.Form__group--half{
  lost-column: 1/2 2 10px;
}

.Form__input--has-error {
  color: darken($brand-red,20%);
  background-color: lighten($brand-red, 20%);
  border-color: darken($brand-red,20%);

}

.Form__checkbox {
}

.NavTop__search-container{
  padding:5px 16px;
  width: calc (99.99% / 3);
  border: none;
}
.NavTop__search {
  width: 40px;
  background-color: transparent;
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  &:focus{
    width: 100%;
    background-color: $background;
    border: 1px solid $gray;
    cursor: text;
  }
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $background;
    opacity: 1;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $background;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $background;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $background;
    opacity: 1;
  }
}