nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.NavTop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $gray-darker;
}

.NavTop__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.NavTop__item {
  float: left;
  border-right: 1px solid $gray-dark;
  :last-child {
    border-right: none;
  }
}

.NavTop__item--right {
  float: right;
}

.NavTop__link {
  font-size: 20px;
  height: 36px;
  font-variant: small-caps;
  color: $background;
  display: block;
  text-align: center;
  padding: 0 16px;
  padding-top: 14px;
  text-decoration: none;
  transition: color 0.5s ease;
  &:hover {
    color: $accent;
  }
}

.NavTop__link--active {
  color: $accent;
  background-color: $background;
}

.NavTop__link--logo {
  width: 200px;
  font-weight: bold;
  padding: 12px 16px;
  font-size: 1.2em;
  height: 26px;
}
$navSideTransitionLength: 0.3s;

.NavSide {
  background-color: $gray-dark;
  position: fixed;
  top: 50px;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 50px;
  overflow: hidden;
  -webkit-transition: width $navSideTransitionLength ease;
  transition: width $navSideTransitionLength ease;
  z-index: 99;
  border-right:1px solid $gray-darker;

  /* Widen nav on hover */
  &:hover {
    width: 230px;
    overflow: visible;
  }
}

.NavSide__list {
  margin: 0px 0;
}

.NavSide__item {
  position: relative;
  display: block;
  width: 230px;
}

.NavSide__link {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: $background;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 20px;
  -webkit-transition: all $navSideTransitionLength ease;
  transition: all $navSideTransitionLength ease;
  &:hover {
    color: $highlight;
  }
}

.NavSide__link--active {
  background-color: $background;
  color: $gray-darker;
  &:hover {
    color: $gray-darker;
  }
}

.NavSide__image {
  position: relative;
  display: table-cell;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
}

.NavSide__text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 180px;
}