/* Colours */
$gray-darker:     #292E37; // Gun metal gray
$gray-dark:       #3B424F; // Blue gris
$gray:            #576E86; // Blue gray gray
$accent:          #4C8AAB; // Blu Sky
$highlight:       #0A97DC; // Blue Skies

$background:      #CDCCCB; //


/* Fonts */
$font-headings:   Kameron serif;
$font-body:       "Bookman Old Style" serif;
$font-size-base:  18px;